.content {
    clip-path: polygon(0 1%, 100% 1%, 100% 100%, 0 100%);
    background: white;
    max-width: 960px;
    height: 100%;
    margin: 0 auto;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
    border: solid 1px #f2f2f2;

    &__header {
        border-bottom: solid 1px #c5dba0;
        max-width: 920px;
        margin: 0 auto 0 auto;
        padding-top: 28px;
        padding-bottom: 1px;
        position: relative;

        &__title {
            font-size: 3rem;
            color: #34B67A;
            text-align: center;
        }
    }

    &__search {


        &__title {
            font-size: 2rem;
            color: black;
            text-align: center;
            background-color: rgba($color-gray, 0.2);
            padding: 1rem;
        }

        &__input {
            margin: 1rem;
            padding: 8px;
            background: #ffffff;
            border: 1px solid #c9c9c9;
            -webkit-border-radius: 3px;
            border-radius: 3px;
            -webkit-box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.8),
                inset 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.8),
                inset 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
            color: #333;
            font-size: 12px;
            width: 45%;
            max-width: 445px;
            padding-right: 3rem;

            &__button {
                margin-left: 2rem;
                background-color: yellow;
                padding: 0.8rem 2rem;
                border-radius: 1rem;

            }
        }


    }

    &__menu {
        height: 40px;
        width: 100%;
        background: #4d7a03;
        background-color: #34B67A;

        ul {
            line-height: 40px;
            margin: 15px 0 0;
            padding: 0;

            li {
                float: left;
                position: relative;
                list-style-type: none;
                background: none;
                padding-left: 15px;
                padding-right: 15px;
                text-decoration: none;
                font-family: Arial;
                font-size: 17px;
                font-weight: bold;
                color: white;
                float: left;
                text-shadow: -1px -1px 0px #395a02;
                line-height: 40px;
            }
        }
    }
}

.bus_list {

    @include clearfix;
    margin: 0 auto;

    &__block {
        background-color: $color-green;
        padding: 1rem 2rem;
        margin: 1rem 1rem;
        font-size: 2rem;
        float: left;
    }
}