.content {
    background: white;
    max-width: 960px;
    height: 100%;
    margin: 0 auto;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
    border: solid 1px #f2f2f2;
    margin-bottom: 50px;
    padding-bottom: 23px;
    box-sizing: border-box;
    min-height: 80rem;

    &__header {
        max-width: 960px;
        margin: 15px 0;
        padding-top: 28px;
        padding-bottom: 1px;
        position: relative;
        background-image: url("../../public/img/samcoB60.jpg");
        &__title {
            font-size: 5em;
            color: #34B67A;
            text-align: center;
            margin-bottom: 5px;
        }
    }

    &__search {


        &__title {
            font-size: 2rem;
            color: black;
            text-align: center;
            background-color: rgba($color-gray, 0.2);
            padding: 1rem;
        }

        &__input {
            margin: 1rem;
            padding: 8px;
            background: #ffffff;
            border: 1px solid #c9c9c9;
            -webkit-border-radius: 3px;
            border-radius: 3px;
            -webkit-box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.8),
                inset 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.8),
                inset 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
            color: #333;
            font-size: 12px;
            width: 45%;
            max-width: 445px;
            padding-right: 3rem;

            &__button {
                margin-left: 2rem;
                background-color: yellow;
                padding: 0.8rem 2rem;
                border-radius: 1rem;

            }
        }


    }

    &__menu {
        display: flex;
        height: 6rem;
        justify-content: center;
        background: #4d7a03;
        background-color: #34B67A;
        border-radius: 21px;

        ul {
            padding: 0;

            li {
                height: 100%;
                list-style-type: none;
                background: none;
                padding-left: 15px;
                padding-right: 15px;
                text-decoration: none;
                font-family: Arial;
                font-size: 2em;
                font-weight: bold;
                color: white;
                float: left;
                text-shadow: -1px -1px 0px #395a02;
                line-height: 40px;
            }
        }
        &__item {
            height: 100%;
            width: 148px;
            align-items: center;
            display: inline-flex;
            justify-content: center;
            
        }
        &__item:hover{
            background: linear-gradient(to top, rgba($color: #000000, $alpha: 0.3),  rgba($color: #000000, $alpha: 0.1) );
        }
    }
}

